name: Automerge Dependabot PRs

on:
  schedule:
    - cron: '0 7 * * 1,2,3,4,5' # UTC time
  workflow_dispatch:

jobs:
  automerge:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      statuses: read
    steps:
      - name: Automerge Dependabot PRs
        uses: navikt/automerge-dependabot@main
        with:
          token: ${{ github.token }}
          minimum-age-of-pr: '0'